@mixin extend-btn($color) {
  background-color: $color;
  &:hover {
    background-color: lighten($color, 10%);
  }
  &:active {
    background-color: darken($color, 10%);
  }
}

@mixin borderbox {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

@mixin cover-position {
  position: absolute;
  top: 0; left: 0; 
  right: 0; bottom: 0;
}

@mixin placeholder($color) {
  input::placeholder {
    color: $color;
  }
  input::-webkit-input-placeholder {
    color: $color;
  }
  input::-moz-placeholder {
    color: $color;
  }
  input:-moz-placeholder {
    color: $color;
  }
  input:-ms-input-placeholder {
    color: $color;
  }
}